SessionDemoApp/Connected Services/LongRestService/delayservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DelayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delayAmount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelayResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DelayResponseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DelayResponseSoapIn">
    <wsdl:part name="parameters" element="tns:DelayResponse" />
  </wsdl:message>
  <wsdl:message name="DelayResponseSoapOut">
    <wsdl:part name="parameters" element="tns:DelayResponseResponse" />
  </wsdl:message>
  <wsdl:portType name="DelayServiceSoap">
    <wsdl:operation name="DelayResponse">
      <wsdl:input message="tns:DelayResponseSoapIn" />
      <wsdl:output message="tns:DelayResponseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DelayServiceSoap" type="tns:DelayServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DelayResponse">
      <soap:operation soapAction="http://tempuri.org/DelayResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DelayServiceSoap12" type="tns:DelayServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DelayResponse">
      <soap12:operation soapAction="http://tempuri.org/DelayResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DelayService">
    <wsdl:port name="DelayServiceSoap" binding="tns:DelayServiceSoap">
      <soap:address location="http://techdays.linqto.me/delayservice.asmx" />
    </wsdl:port>
    <wsdl:port name="DelayServiceSoap12" binding="tns:DelayServiceSoap12">
      <soap12:address location="http://techdays.linqto.me/delayservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>